@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");



.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.leaveBlankP {
  font-size: 10px;
  padding: 0%;
  margin: 0%;
}
.addParticipantNavButton {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(4, 4, 4);
  font-weight: 700;
  background-color: rgb(250, 151, 58);
  border: none;
  box-shadow: 5px 5px #888888;
}

.closeX {
  text-align: end;
  font-weight: 700;
  margin: 0%;
}

.addParticipantTitle {
  font-size: 18px;
  color: orange;
  padding: 0px;
  border: 2px solid magenta;
}

.addParticipant {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgba(247, 182, 77, 0.3);
  border-radius: 15px;
}

.name,
.email,
.toBring,
.dislikes,
.dietInfo,
.addParticipantButton {
  width: 200px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid magenta;
}

#name,
#email,
#toBring,
#dislikes,
#dietInfo,
#addParticipantButton {
  width: 150px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.addButton {
  padding: 10px;
  border-radius: 10px;
  color: rgb(4, 4, 4);
  font-weight: 700;
  background-color: rgb(250, 237, 58);
  border: none;
  box-shadow: 5px 5px #888888;
}

/*media query start*/
@media screen and (min-width: 500px) {
  .addParticipant {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 800px) {
}
/*media query end*/
