@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.createEvent {
  background-color: papayawhip;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px;
  /* border: 5px solid red; */
}

.createEventTitle {
  /* border: 5px solid red; */
  margin: 10px;
}

.eventName,
.hostName,
.date,
.time,
.address,
.createEventButton {
  width: 200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  color: rgb(201, 105, 2);
}

#eventName,
#hostName,
#date,
#time,
#address {
  height: 22px;
  border-radius: 8px;
  border: 1px solid rgb(102, 102, 102);
}

.submitButton {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(4, 4, 4);
  font-weight: 700;
  background-color: rgb(250, 151, 58);
  border: none;
  box-shadow: 5px 5px #888888;
}
/*media query start*/
@media screen and (min-width: 410px) {
  .bunting {
    height: 50px;
  }
  .down_triangle {
    height: 50px;
    margin: 0 3px;
    border-width: 50px 30px 0px 30px;
  }
}

@media screen and (min-width: 500px) {
  .bunting {
    height: 100px;
  }
  .down_triangle {
    width: 0px;
    height: 100px;
    margin: 0 15px;
  }
}

@media screen and (min-width: 800px) {
  .eventName,
  .hostName,
  .date,
  .time,
  .address,
  .createEventButton {
    width: 300px;
    padding: 10px;
    font-size: 20px;
  }
  #eventName,
  #hostName,
  #date,
  #time,
  #address {
    height: 27px;
  }
}
/*media query end*/
