@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.createEvent {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.createEventTitle {
  margin: 10px;
  font-size: 25px;
  color: rgb(255, 89, 0);
}

.createEventInstruction {
  margin: 8px;
  font-size: 20px;
}

.eventName,
.hostName,
.date,
.time,
.address,
.hostEmail,
.createEventButton {
  width: 200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  color: rgb(201, 105, 2);
}

#eventName,
#hostName,
#date,
#time,
#address,
#hostEmail {
  height: 22px;
  border-radius: 8px;
  border: 1px solid rgb(102, 102, 102);
}

.submitButton {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(4, 4, 4);
  font-weight: 700;
  background-color: rgb(250, 151, 58);
  border: none;
  box-shadow: 5px 5px #888888;
}

/*media query start*/
@media screen and (min-width: 500px) {
  .createEventForm {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .eventName,
  .hostName,
  .date,
  .time {
    width: 200px;
    padding: 7px;
    font-size: 18px;
  }
  .address,
  .hostEmail,
  .createEventButton {
    width: 300px;
    padding: 7px;
    font-size: 18px;
  }

  #eventName,
  #hostName,
  #date,
  #time {
    height: 24px;
    width: 170px;
  }
  #address,
  #hostEmail {
    height: 24px;
    width: 200px;
  }
}

@media screen and (min-width: 800px) {
  .createEventForm {
    width: 650px;
  }

  .eventName,
  .hostName,
  .date,
  .time {
    width: 280px;
    padding: 10px;
    font-size: 20px;
  }
  .address,
  .hostEmail,
  .createEventButton {
    width: 400px;
    padding: 10px;
    font-size: 20px;
  }

  #eventName,
  #hostName,
  #date,
  #time {
    height: 27px;
    width: 200px;
  }
  #address,
  #hostEmail {
    height: 27px;
    width: 260px;
  }
}
/*media query end*/
