.dietInfoList {
  background-color: rgb(255, 195, 43, 0.85);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.eachItemDietInfo {
  width: 150px;
  margin: 1px;
  overflow-wrap: break-word;
  text-align: left;
}
