@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.hostDetails {
  width: 100%;
  font-family: "Roboto", sans-serif;
  /* background-color: rgba(247, 182, 77, 0.3); */
  border-radius: 15px;
}

.hostDetails-Title {
  text-align: center;
  margin: 5px;
  font-size: 18px;
  color: rgb(0, 186, 176);
}

.hostDetails-Details {
  padding-left: 5px;
  margin: 5px;
  font-size: 16px;
}

.sectionHd {
  color: rgb(1, 136, 167);
}

/*media query start*/
@media screen and (min-width: 410px) {
  .eachParticipant {
    margin: 10px;
    width: 180px;
  }
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 800px) {
}
/*media query end*/
