.containerNav {
  display: flex;
  justify-content: center;
}
.navbarContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 350px;
}

.toBringButton,
.dislikeButton,
.dietInfoButton {
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 10px;
  color: rgb(4, 4, 4);
  font-weight: 700;
  background-color: rgb(250, 151, 58);
  border: none;
  box-shadow: 5px 5px #888888;
  width: 80px;
}

/*media query start*/
@media screen and (min-width: 410px) {
  .toBringButton,
  .dislikeButton,
  .dietInfoButton {
    width: 100px;
  }
}

@media screen and (min-width: 500px) {
  .toBringButton,
  .dislikeButton,
  .dietInfoButton {
    padding: 10px;
    width: 122px;
  }
}

@media screen and (min-width: 800px) {
  .toBringButton,
  .dislikeButton,
  .dietInfoButton {
    width: 160px;
  }
}
/*media query end*/
