@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.eachParticipant{
    margin: 10px;
    width: 180px;
    border: solid black;
}
/* participantName
participantToBring
participantDislikes
participantDietInfo
participantDelete */