.toBringList {
  background-color: rgba(184, 43, 255, 0.85);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.eachItemToBring {
  margin: 1px;
  width: 100px;
  overflow-wrap: break-word;
  text-align: left;
}
